examples/data
examples/mnist_cpp/build
examples/mnist_cpp/data
/intercept/save
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
examples/amax/output.txt
examples/runtimetest/log.txt
examples/mnist/log.txt
examples/drivertest/matSumKernel.ptx
examples/super_resolution/log.txt
examples/super_resolution/log2.txt
examples/super_resolution/dataset
examples/super_resolution/out.png
examples/super_resolution/__pycache__
examples/custom/log.txt
examples/super_resolution/model_epoch_*.pth
examples/amax/log.txt
examples/jit_test/log.txt
examples/dynamotest/log.txt
examples/nvml_example/supportedVgpus
examples/nvml_example/example
count.txt
examples/drivertest/log.txt
intercept/src/cuGraphExecUpdate.cpp
intercept/dlsym.cpp
histogram.png
examples/imagenet/train
.gitignore
examples/imagenet/imagenet/train
examples/imagenet/imagenet/val
examples/imagenet/vgg11_native.txt
examples/imagenet/vgg11_unmodified.txt
examples/imagenet/val
examples/imagenet/resnet50_native.txt
examples/imagenet/resnet50_unmodified.txt
examples/imagenet/mobilenet_v2_native.txt
examples/imagenet/mobilenet_v2_unmodified.txt
cts.txt
examples/imagenet/requirements.txt
examples/imagenet/log.txt
func_complexity.txt
imagenet_count.txt
mnistcpp.txt
examples/imagenet/extract_ILSVRC.sh
log2.txt
log1.txt
mobilenet_v2.txt
mobilenet_v2_cudnn.txt
resnet50.txt
function_notes.txt
log_original.txt
mobilenetv_v2.txt
log2_original.txt
log.txt
mnist.txt
export tables.txt